<table class="nso plt">
    <thead>
    <tr>
        <th>Jam</th>
        <th>noPivot</th>
        <th>Jammer</th>
        <th colspan="3">Box</th>
        <th>Pivot</th>
        <th colspan="3">Box</th>
        <th>Blocker</th>
        <th colspan="3">Box</th>
        <th>Blocker</th>
        <th colspan="3">Box</th>
        <th>Blocker</th>
        <th colspan="3">Box</th>
    </tr>
    </thead>
    {% set rows = body | split(pat="\n") %}
    {% for row in rows %}
    <tr>
        {% set values = row | split(pat=" ") %}
        {% for elem in values %}
        <td>{% if elem != "-"%}{{ elem }}{% endif %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
